body {
    display              : flex;
    justify-content      : center;
    margin-top           : 130px;
    background           : #ffba5a;
    background-attachment: fixed;
    font-family          : 'Lobster', cursive;
}

form {
    width        : 200px;
    height       : 500px;
    background   : rgba(245, 204, 142, 0.7);
    padding      : 40px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 50px;
    font-size    : 30px;
    text-align   : center;
}

div {
    border-bottom: 1px solid #569949;
    margin       : 30px 0;
}

input {
    border    : none;
    width     : 100%;
    outline   : none;
    background: none;
    height    : 30px;
    padding   : 0 5px;
}

.input-sub {
    width          : 50%;
    height         : 40px;
    border         : none;
    border-radius  : 10px;
    margin-bottom  : 40px;
    font-size      : 17px;
    background     : linear-gradient(120deg, #569949, #52de97);
    background-size: 200%;
    outline        : none;
    cursor         : pointer;
    font-family    : 'Lobster', cursive
}

@media screen and (min-width: 400px) {

    form {
        width  : 250px;
        height : 500px;
        padding: 45px;
    }

    h1 {
        font-size: 35px;
    }
}

@media screen and (min-width: 700px) {

    form {
        width  : 300px;
        height : 500px;
        padding: 50px;
    }

    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1000px) {
    form {
        width : 350px;
        height: 500px;
    }
}