main {
    display  : inline-flex;
    flex-wrap: wrap;
}

li {
    margin-top   : 20px;
    margin-bottom: 40px;
}

li>a {
    text-decoration: none;
    margin-left    : 5px;
}

li>a:hover {
    color: #ffba5a;
}


/*--- Details ---*/

.main-section {
    width       : 50%;
    min-width   : 340px;
    margin-right: 50px;
    margin-top  : 80px;
    margin-left : 10px;
}

.h3-ingre {
    margin-left: 10px;
}

.div-ingredient {
    border       : 1px solid rgb(85, 81, 81);
    padding      : 8px;
    border-radius: 10px;
}

.div-ingredient>dl>dd {
    color  : blanchedalmond;
    padding: 10px;
    margin : 5px;
}

.div-ingredient>dl {
    margin-left: 5px;
}

.img-section {
    width      : fit-content;
    height     : fit-content;
    margin-left: 70px;
    margin-top : -50px;
}

.details-section {
    background   : rgb(110, 108, 110);
    width        : 100%;
    padding      : 5px;
    border-radius: 10px;
    margin       : 5px;

}

.title-section {
    text-align : center;
    font-family: 'Chewy', cursive;
    color      : #52de97;
    margin-top : 50px;
}

.description-section {
    padding  : 10px;
    width    : 90%;
    min-width: 290px;
}

.description-section>p {
    color      : blanchedalmond;
    margin-left: 5px;
    padding    : 10px;
}

.extra-content {
    min-width: 320px;
    width    : 60%;
    padding  : 10px;
}


.extra-content>dl>dd {
    color  : blanchedalmond;
    padding: 9px;
    margin : 5px;
}

.text-comments {
    background-color: rgb(110, 108, 110);
    color           : blanchedalmond;
    padding         : 10px;
    margin-top      : 40px;
    resize          : none;
    border-radius   : 10px;
    outline         : none;
    width           : 300px;
}

/*(120deg, #ffba5a, #569949, #52de97, #2c7873);*/