main {
    display  : inline-flex;
    flex-wrap: wrap;
}

li {
    margin-top   : 20px;
    margin-bottom: 40px;
}

li>a {
    text-decoration: none;
    margin-left    : 5px;
}

li>a:hover {
    color: #ffba5a;
}


/*--- Details ---*/

.main-section {
    width       : 50%;
    min-width   : 340px;
    margin-right: 50px;
    margin-top  : 80px;
    margin-left : 10px;
}

.h3-ingre {
    margin-left: 10px;
}

.div-ingredient {
    border       : 1px solid rgb(85, 81, 81);
    padding      : 8px;
    border-radius: 10px;
}

.div-ingredient>dl>dd {
    color  : blanchedalmond;
    padding: 10px;
    margin : 5px;
}

.div-ingredient>dl {
    margin-left: 5px;
}

.img-section {
    width      : fit-content;
    height     : fit-content;
    margin-left: 70px;
    margin-top : -10px;
}

.details-section {
    background   : rgb(110, 108, 110);
    width        : 100%;
    padding      : 5px;
    border-radius: 10px;
    margin       : 5px;

}

.title-section {
    text-align : center;
    font-family: 'Chewy', cursive;
    color      : #52de97;
    margin-top : 50px;
}

.description-section {
    padding  : 10px;
    width    : 90%;
    min-width: 290px;
}

.description-section>p {
    color      : blanchedalmond;
    margin-left: 5px;
    padding    : 10px;
}

.extra-content {
    min-width: 320px;
    width    : 60%;
    padding  : 10px;
}


.extra-content>dl>dd {
    color  : blanchedalmond;
    padding: 9px;
    margin : 5px;
}

.text-comments {
    background-color: rgb(110, 108, 110);
    color           : blanchedalmond;
    padding         : 10px;
    margin-top      : 40px;
    resize          : none;
    border-radius   : 10px;
    outline         : none;
    width           : 300px;
}

.input-submit {
    border-radius   : 10px;
    color           : rgb(255, 255, 255);
    background-color: rgb(110, 108, 110);
    outline         : none;
    position        : absolute;
    margin-top      : 7px;
}

.input-submit:hover {
    cursor    : pointer;
    box-shadow: 1px 1px 5px 1px;
    outline   : none;
}

.p-comment {
    margin: 15px;
    color : #ffba5a;
}

.button-like {
    display         : inline-flex;
    margin-left     : 80%;
    width           : 30px;
    height          : 30px;
    background-image: url(/src/img/like.ico);
    background-color: rgb(110, 108, 110);
    border          : 0px;
    outline         : none;
}

.button-like:hover {
    cursor : pointer;
    outline: none;
}

.s-likes {
    position: absolute;
    margin  : 10px;
}

@media (min-width: 1102px) {
    .input-submit {
        margin-left: -322px;
        margin-top : 223px;
    }
}

@media (min-width: 1200px) {
    .button-like {
        margin-left: 73%;
    }
}

@media (min-width: 1300px) {
    .button-like {
        margin-left: 70%;
    }
}

@media (min-width: 1350px) {
    .button-like {
        margin-left: 65%;
    }
}

@media (min-width: 1400px) {
    .button-like {
        margin-left: 60%;
    }
}




/*(120deg, #ffba5a, #569949, #52de97, #2c7873);*/